extends lib/layout.jade

block head
  meta(name="robots", content="noindex")

block content
  article
    header.page-header
      h1.entry-title!= "Archive"

  each post in posts
    article
      header.page-header
        .meta
          span.glyphicon.glyphicon-calendar.icon
          time.time(datetime=post.datetime, pubdate)!= post.date
          span.glyphicon.glyphicon-tag.icon
          each category in post.categories
            span.category
              a(href="/categories/"+category)!= category
      h3.entry-title
        a(href="/posts/"+post._id)!= post.title
      .entry-content!= post.intro
