doctype html
html(lang=lang)
  head
    title!= "upsert"
    meta(charset="UTF-8")
    meta(content="width=device-width, minimum-scale=1.0, maximum-scale=1.0", name="viewport")
    link(rel="icon", type="image/png", href="/favicon.png")
    link(rel="stylesheet", href="/css/app.css")

  body
    include lib/header

    .container
      .row
        article.col-xs-12
          article
            header.page-header
              .meta
                input#_id(value=archive._id, placeholder="_id", style="width:100%;")
                input#datetime(value=archive.datetime, placeholder="YYYY-MM-DD HH:mm", style="width:100%;")
                input#categories(value=archive.categories, placeholder="categories", style="width:100%;")
            h1.entry-title
              input#title(value=archive.title, placeholder="title", style="width:100%;")
            .entry-content
              textarea#body(style="width:100%; height:300px;")!= archive.body
            footer
              .meta
                input#image(value=archive.image, placeholder="image", style="width:100%;")
                input#upsert(type="button", value="upsert")
                input#destroy(type="button", value="destroy")
    script(src="/js/app.js")

    block scripts
