doctype xml
feed(xmlns="http://www.w3.org/2005/Atom")
  title!= blog.title
  link!= blog.url
  updated!= blog.modify
  author
    name!= blog.author
  link(rel="alternate", href= blog.url)
  link(rel="self", href= blog.url + "/atom.xml")
  link(rel="hub", href="https://yug1224.superfeedr.com")
  logo!= blog.url + "/favicon.png"
  generator
    |Feed for Node.js

  each archive in archives
    entry
        title(type="html")
          <![CDATA[!{archive.title}]]>
        id!= blog.url+ "/archive/" + archive._id
        link(href=blog.url + "/archive/" + archive._id)
        updated!= archive.modify
        content(type="html")
          <![CDATA[!{archive.body}]]>
